# --- Rails ---
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids
/tmp/cache
/public/assets
/public/packs
.byebug_history
.env
.env.*
/vendor/bundle

# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Python venv just in case ---
venv/
.venv/
env/
ENV/
__pycache__/

# --- OS/Editor ---
.DS_Store
.idea/
.vscode/

# Test coverage reports
coverage/
config/master.key

/config/master.key
